.robotcode_cache

# Çıktı dizininin içeriği tümden yoksayılacak
output/**
results/**

# Python önbellekleri de yoksayılacak
**/__pycache__
resources/common/__pycache__/*
resources/common/__pycache__/*.pyc
resources/kiwi/__pycache__/*.pyc
resources/spirent/__pycache__/*.pyc
ulaktestutility.log
output/output.xml
