# Robot Çatısı
# rpaframework==27.0.1 # https://rpaframework.org/releasenotes.html
robotframework==6.1.1
robotframework-tidy==4.5.0 # *.robot dosyalarını formatlamak için. https://robotidy.readthedocs.io/

# Http 
requests==2.31.0
# Aşağıdaki paketler requests ile birlikte gelecek
# >>> certifi, charset-normalizer, urllib3, idna

# SSH
robotframework-sshlibrary
# Aşağıdaki paketler "robotframework-sshlibrary" ile birlikte gelecek
# >>> cffi, cryptography, pycparser

# Ansible
# ansible==8.4.0 # https://www.tutorialspoint.com/how-to-install-and-configure-ansible-on-windows
ansible-runner==2.3.4 # ansible kodu çalıştırmak için
# Aşağıdaki paketler "ansible-runner" ile birlikte gelecek
# >>> ptyprocess, docutils, lockfile, six, pexpect, python-daemon, PyYAML, packaging

# Debug
debugpy==1.8.0 # python debug için gerekli

# DB 
pymongo==4.5.0

# Diğer
Jinja2==3.1.2
# Aşağıdaki paketler "jinja2" ile birlikte gelecek
# >>> MarkupSafe

colorama==0.4.6
# resolvelib==1.0.1
