{
   "ccpoi":{
      "t3.interface.ipv4":"{{n4_control_ip }}",
      "t3.interface.port":"4202"
   },
   "common":{
      "log.level":"DEBUG"
   },
   "router":{
      "qos":"disabled",
      "sdf.filter.ipv6":"enabled"
   },
   "sbimgr":{
      "nfInstanceId":"aa7229eb-5dd7-49a4-8dce-c158ce765d00",
      "nrf.ipv4":"{{nrf_ip }}",
      "nrf.ipv6":"::1",
      "nrf.port":"8001",
      "upfInfo":{
         "atsssCapability":{
            "atsssLL":false,
            "mptcp":false
         },
         "interfaceUpfInfoList":[
            {
               "endpointFqdn":"",
               "interfaceType":"N3",
               "ipv4EndpointAddresses":[
                  "127.0.0.1"
               ],
               "ipv6EndpointAddresses":[
                  "::1"
               ],
               "networkInstance":""
            }
         ],
         "iwkEpsInd":false,
         "pduSessionTypes":[
            "IPV4",
            "IPV6",
            "IPV4V6",
            "UNSTRUCTURED",
            "ETHERNET"
         ],
         "priority":1,
         "redundantGtpu":false,
         "sNssaiUpfInfoList":[
            {
               "dnnUpfInfoList":[
                  {
                     "dnaiList":[
                        ""
                     ],
                     "dnn":"dnn.test1.com",
                     "ipv4AddressRanges":[
                        {
                           "end":"127.0.0.1",
                           "start":"127.0.0.1"
                        }
                     ],
                     "ipv6PrefixRanges":[
                        {
                           "end":"::1",
                           "start":"::1"
                        }
                     ],
                     "pduSessionTypes":[
                        "IPV4",
                        "IPV6",
                        "IPV4V6",
                        "UNSTRUCTURED",
                        "ETHERNET"
                     ]
                  },
                  {
                     "dnaiList":[
                        ""
                     ],
                     "dnn":"dnn.ladn0.com",
                     "ipv4AddressRanges":[
                        {
                           "end":"127.0.0.1",
                           "start":"127.0.0.1"
                        }
                     ],
                     "ipv6PrefixRanges":[
                        {
                           "end":"::1",
                           "start":"::1"
                        }
                     ],
                     "pduSessionTypes":[
                        "IPV4",
                        "IPV6",
                        "IPV4V6",
                        "UNSTRUCTURED",
                        "ETHERNET"
                     ]
                  },
                  {
                     "dnaiList":[
                        ""
                     ],
                     "dnn":"dnn.emergency.com",
                     "ipv4AddressRanges":[
                        {
                           "end":"127.0.0.1",
                           "start":"127.0.0.1"
                        }
                     ],
                     "ipv6PrefixRanges":[
                        {
                           "end":"::1",
                           "start":"::1"
                        }
                     ],
                     "pduSessionTypes":[
                        "IPV4",
                        "IPV6",
                        "IPV4V6",
                        "UNSTRUCTURED",
                        "ETHERNET"
                     ]
                  },
                  {
                     "dnaiList":[
                        ""
                     ],
                     "dnn":"dnn.ims.com",
                     "ipv4AddressRanges":[
                        {
                           "end":"127.0.0.1",
                           "start":"127.0.0.1"
                        }
                     ],
                     "ipv6PrefixRanges":[
                        {
                           "end":"::1",
                           "start":"::1"
                        }
                     ],
                     "pduSessionTypes":[
                        "IPV4",
                        "IPV6",
                        "IPV4V6",
                        "UNSTRUCTURED",
                        "ETHERNET"
                     ]
                  }
               ],
               "redundantTransport":false,
               "sNssai":{
                  "sst":1
               }
            },
                        {
               "dnnUpfInfoList":[
                  {
                     "dnaiList":[
                        ""
                     ],
                     "dnn":"dnn.test1.com",
                     "ipv4AddressRanges":[
                        {
                           "end":"127.0.0.1",
                           "start":"127.0.0.1"
                        }
                     ],
                     "ipv6PrefixRanges":[
                        {
                           "end":"::1",
                           "start":"::1"
                        }
                     ],
                     "pduSessionTypes":[
                        "IPV4",
                        "IPV6",
                        "IPV4V6",
                        "UNSTRUCTURED",
                        "ETHERNET"
                     ]
                  },
                  {
                     "dnaiList":[
                        ""
                     ],
                     "dnn":"dnn.ladn0.com",
                     "ipv4AddressRanges":[
                        {
                           "end":"127.0.0.1",
                           "start":"127.0.0.1"
                        }
                     ],
                     "ipv6PrefixRanges":[
                        {
                           "end":"::1",
                           "start":"::1"
                        }
                     ],
                     "pduSessionTypes":[
                        "IPV4",
                        "IPV6",
                        "IPV4V6",
                        "UNSTRUCTURED",
                        "ETHERNET"
                     ]
                  },
                  {
                     "dnaiList":[
                        ""
                     ],
                     "dnn":"dnn.emergency.com",
                     "ipv4AddressRanges":[
                        {
                           "end":"127.0.0.1",
                           "start":"127.0.0.1"
                        }
                     ],
                     "ipv6PrefixRanges":[
                        {
                           "end":"::1",
                           "start":"::1"
                        }
                     ],
                     "pduSessionTypes":[
                        "IPV4",
                        "IPV6",
                        "IPV4V6",
                        "UNSTRUCTURED",
                        "ETHERNET"
                     ]
                  },
                  {
                     "dnaiList":[
                        ""
                     ],
                     "dnn":"dnn.ims.com",
                     "ipv4AddressRanges":[
                        {
                           "end":"127.0.0.1",
                           "start":"127.0.0.1"
                        }
                     ],
                     "ipv6PrefixRanges":[
                        {
                           "end":"::1",
                           "start":"::1"
                        }
                     ],
                     "pduSessionTypes":[
                        "IPV4",
                        "IPV6",
                        "IPV4V6",
                        "UNSTRUCTURED",
                        "ETHERNET"
                     ]
                  }
               ],
               "redundantTransport":false,
               "sNssai":{
                  "sst":2
               }
            }
         ],
         "smfServingArea":[

         ],
         "taiList":[
            {
               "nid":"",
               "plmnId":{
                  "mcc":"{{ h_mcc | default("001") }}",
                  "mnc":"{{ h_mnc | default("002") }}"
               },
               "tac":"004134"
            },
                        {
               "nid":"",
               "plmnId":{
                  "mcc":"{{ h_mcc | default("001") }}",
                  "mnc":"{{ h_mnc | default("002") }}"
               },
               "tac":"000002"
            }
         ],
         "tngfInfo":{
            "endpointFqdn":"",
            "ipv4EndpointAddresses":[
               "127.0.0.1"
            ],
            "ipv6EndpointAddresses":[
               "::1"
            ]
         },
         "twifInfo":{
            "endpointFqdn":"",
            "ipv4EndpointAddresses":[
               "127.0.0.1"
            ],
            "ipv6EndpointAddresses":[
               "::1"
            ]
         },
         "ueIpAddrInd":false,
         "wAgfInfo":{
            "endpointFqdn":"",
            "ipv4EndpointAddresses":[
               "127.0.0.1"
            ],
            "ipv6EndpointAddresses":[
               "::1"
            ]
         }
      }
    },
    "topology":{

        "n3.up.interface.ipv4":"{{n3_ip }}",
        {% if simulator is not defined %}
        {% set simulator = true %}      
        {% endif %}
        {% if simulator == true %}
"n3.up.interface.ipv4.floating.notused":"{{n3_floating_ip }}",
        {% else %}
"n3.up.interface.ipv4.floating":"{{n3_floating_ip }}",
        {% endif %}
"n3.up.interface.ipv4.gw":"{{n3_gw_ip }}",
        "n3.up.interface.ipv4.mask":"{{n3_subnet_mask }}",
        "n3.up.interface.ipv6":"2001:620:5ca1:80f1::7",
        "n3.up.interface.ports":"{{n3_interface_port }}",
        "n4.cp.interface.ipv4":"{{n4_control_ip }}",
        "n4.cp.interface.ipv6":"::1",
        "n4.up.interface.ipv4":"{{n4_user_ip }}",
        "n4.up.interface.ipv4.floating":"",
        "n4.up.interface.ipv4.gw":"{{n4_user_gw_ip }}",
        "n4.up.interface.ipv4.mask":"{{n4_user_subnet_mask }}",
        "n4.up.interface.ipv6":"::1",
        "n4.up.interface.ports":"{{n4_interface_port }}",
        "n6.up.interface.ipv4":"{{n6_ip }}",
        "n6.up.interface.ipv4.floating":"{{n6_floating_ip }}",
        "n6.up.interface.ipv4.gw":"{{n6_gw_ip }}",
        "n6.up.interface.ipv4.mask":"{{n6_subnet_mask }}",
        "n6.up.interface.ipv6":"2001:620:5ca1:80f0::21",
        "n6.up.interface.ports":"{{n6_interface_port }}",
        "vdev.port":"3"
    },
    "version":"0.7"
}


