{

    "allowedNfTypes": [
        "NRF"
    ],
    "allowedNssais": [
        {
            "sst": 1
        },
{
            "sst": 2
        }
,
{
            "sst": 3
        }

    ],

        "ipv4Addresses": [
        "{{ control_ip }}"
    ],

    "load": 0,

    "nfInstanceId": "d7d2e36b-dbe5-4f79-bbcd-c15ff2176ec9",

    "nfServices": [
        {

            "ipEndPoints": [
                {
                    "ipv4Address":"{{ control_ip }}",

                    "port": 8001

                }
            ],

            "nfServiceStatus": "REGISTERED",

            "scheme": "http",
            "serviceInstanceId": "d7d2e36b-dbe5-4f79-bbcd-c15ff2176ec8",
            "serviceName": "nnrf-nfm",

            "versions": [
                {
                    "apiFullVersion": "v1",
                    "apiVersionInUri": "/nnrf-nfm/v1"

                }
            ]
        },
        {

            "ipEndPoints": [
                {
                    "ipv4Address":"{{ control_ip }}",


                    "port": 8006

                }
            ],

            "nfServiceStatus": "REGISTERED",


            "scheme": "http",
            "serviceInstanceId": "d7d2e36b-dbe5-4f79-bbcd-c15ff2176ec7",
            "serviceName": "nnrf-disc",

            "versions": [
                {
                    "apiFullVersion": "v1",
                    "apiVersionInUri": "/nnrf-disc/v1"

                }
            ]
        }
    ],
    "nfStatus": "REGISTERED",
    "nfType": "NRF",

    "plmnList": [{"mcc" : "{{ h_mcc | default("001") }}", "mnc" : "{{ h_mnc | default("002") }}"}],


    "sNssais": [
        {
            "sst": 1
        },
{
            "sst": 2
        }
,
{
            "sst": 3
        }

    ]

}
