version: "3"
services:
  robot-dev:
    image: robot-py3
    privileged: true
    user: vscode
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      # .devcontainer Dizinin üstündeki dizin, bizim kodlarımıza da içerir.
      # Kodlarımızı barındıran bu dizini konteyner içinde workspace dizinine bağlıyoruz.
      - ../:/workspace

    # [Optional] Required for ptrace-based debuggers like C++, Go, and Rust
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined

    # Overrides default command so things don't shut down after the process ends.
    command: /bin/sh -c "while sleep 10000; do :; done"
