
{
    "_comment": "The unit for time period is milliseconds.",
    "date": "2020-Apr-13",
    "author": "Merve KESENBAS",

    "General": {
        "NumberofServingServerThreads": 4,
        "ClientCount": 4,
        "ClientTimeout": 3000,
        "HomePlmnId": {
            "mcc": "{{ h_mcc | default("001") }}",
            "mnc": "{{ h_mnc | default("002") }}"
        }
    },

    "Security": {
        "TLSSecure": false,
        "JWTAuthenticate": true,
        "MutualAuthenticate": false,
        "OAuth2": {
            "PrivateKey": "certificate\/jwt.key",
            "PublicKey": "certificate\/jwt.pub"
        },
        "TLS": {
            "PublicKey": "certificate\/localhost.crt",
            "PrivateKey": "certificate\/localhost.key"
        }
    },

    "Logging": {
        "Directory": "\/var\/log\/cinar\/nssf\/",
        "DisplayLog": true,
        "FileName": "NSSF",
        "LogLevel": "DEBUG"
    },

    "NRF": [
        {
            "IPAddress": "{{nrf_ip }}",
            "ClientCount": 4,
            "ClientTimeout": 3000,
            "NfmServicePort": 8001,
            "DiscServicePort": 8006,
            "OAuth2ServicePort": 8007,
            "TAccessTokenPeriod": 10000,
            "TCheckPeriod": 60000,
            "TDiscoveryPeriod": 3000,
            "TRetryPeriod": 3000
        }
    ],

    "Database": {
        "DatabaseType": "MONGO",
        "Server": "{{ mongo_db_ip }}",
        "Port": {{ mongo_db_port }},
        "DatabaseName": "{{ db_name }}",
        "UserName": "{{ mongo_db_username }}",
        "Password": "{{ mongo_db_password }}",
        "ConnectionRetryPeriod": 60000,
        "Tables": {
            "tablename_nsi":"cinarnsicollection",
            "tablename_nssrules":"cinarnssrulescollection",
            "tablename_configurednssai":"cinarconfigurednssaicollection"
        },
        "ConnectionPoolSize": 4,
        "ConnectionTimeout": 1000,
        "ServerSelectionTimeout": 1000,
        "SocketTimeout": 1000

    },

    "AdditionalNFServices": [
        {
           
            "ipEndPoints": [
                {
                    "ipv4Address": "{{ control_ip }}",

                    "port": 8104
                }
            ],
           
            "nfServiceStatus": "REGISTERED",          
            "scheme": "http",
            "serviceInstanceId": "81fdab8a-8605-11ea-bc55-0242ac130003",          
            "versions": [
                {
                    "apiFullVersion": "v1",
                    "apiVersionInUri": "/metrics"
                   
                }
            ]
        },
        {
           
            "ipEndPoints": [
                {
                    "ipv4Address": "{{ control_ip }}",
                   
                    "port": 8105
                }
            ],
          
            "nfServiceStatus": "REGISTERED",           
            "scheme": "http",
            "serviceInstanceId": "81fdab8a-8605-11ea-bc55-0242ac130003",         
            "versions": [
                {
                    "apiFullVersion": "v1",
                    "apiVersionInUri": "/log/v1"                    
                }
            ]
        }
    ],

    "ServiceSettings": {
        "AlarmServiceName": "nnssf-nsselection",
        "NumberofIOServiceThreads": 6,
        "NSSelectionService": {
            "ServicePort": 8100,
            "NssfReroutingOption": "OPTION_A"
        }
    },
     "RoamingPlmns" : [
        {
            "mcc" : "{{ r_mcc | default("002") }}", 
            "mnc" : "{{ r_mnc | default("001") }}"  ,
            "v_sst": "1",  
            "v_sd": "abc",        
            "h_sst": "1",
            "h_sd": "abc",
            "NFDiscoveryUri": "http://{{ r_nrf_ip | default('10.10.10.10')}}:8006",
            "AccessTokenUri": "http://{{ r_nrf_ip | default('10.10.10.10')}}:8007",
            "NFManagementUri": "http://{{ r_nrf_ip | default('10.10.10.10')}}:8001"
        }
    ]
}
