{

	"PCFCSHost": "{{ cs_ip }}",
	"PCFCSPort": 7500,
	"LogDirectory": "\/var\/log\/cinar\/pcf\/ams\/",
	"PCFCSTlsSecure": true,
	"PCFCSMutualAuthenticate": false,
	"AMFMsgRetryCount" : 3,
	"SettingsSubscriptionTimeout": 5,
	"CSSubscriptionConnectionRetryTimer": 10,
	"PCFAMSAddress": "{{ control_ip }}",
	"PCFAMSPort": 7000
}
