{
    "database": {
        "ConnectionPoolSize": 10,
        "DatabaseName": "{{ db_name }}",
        "DatabaseType": "mongodb",
        "Port": {{ mongo_db_port }},
        "Server": "{{ mongo_db_ip }}"
    },
    "logging": {
        "Directory": "/var/log/cinar/pcf/pes/",
        "LogLevel": "INFO"
    },
    "pesSettings": {
        "accessTokenStatus": false,
        "k8SActive": false,
        "pesSubscriptionNotifyCallbackServerPort": 7051,
        "serviceInstanceId": "",
        "versions": {
            "apiFullVersion": "1.0.0.alpha-1",
            "apiVersionInUri": "v1",
            "expiry": "2022-02-15T10:43:23Z"
        }
    }
}
