- name: Add UE
  ansible.builtin.import_playbook: ULAK5G_core_add_ue.yml

- hosts: allinone
  gather_facts: false
  tasks:
    - name: stopped service
      ansible.builtin.service:
        name: "{{ item }}"
        state: stopped
      become: true
      with_items:
        - cnramf-coremngr
        - cnramf-sbimngr
        - cnramf-ranmngr
        - cnramf-guimngr
        - cnramf-limngr
        - cnramf-gtpmngr
        - cnrpcfcs
        - cnrpcfsms
        - cnrpcfams
        - cnrpcfnfrs
        - cnrpcfpes

    - name: started service
      ansible.builtin.service:
        name: "{{ item }}"
        state: started
      become: true
      with_items:
        - cnramf
        - cnrpcfcs
        - cnrpcfsms
        - cnrpcfams
        - cnrpcfnfrs
        - cnrpcfpes

    - name: restarted service
      ansible.builtin.service:
        name: "{{ item }}"
        state: restarted
      become: true
      with_items:
        - cnrudr
        - cnrudm
        - cnrausf
        - cnrsmsf
# - name: Add UE
#   ansible.builtin.import_playbook: ULAK5G_core_run_spirent_test.yml
#   vars:
#     test_id: KT_CN_001
